.gradle/
.kotlin/
build/
*/build/
!.gradle/wrapper/gradle-wrapper.jar
!.gradle/wrapper/gradle-wrapper.properties
.idea/
*.iml
out/
.DS_Store
.env

# local envs
.env.local
env.env

miniapp/node_modules/
miniapp/src/assets/halls/*.png
