name: Commitlint

on:
  pull_request:
  push:
    branches: [ main, master ]

permissions:
  contents: read

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
        with:
          node-version: '20'

      - name: Install commitlint
        run: |
          npm install --save-dev @commitlint/config-conventional @commitlint/cli

      - name: Run commitlint on PR commits
        if: github.event_name == 'pull_request'
        run: |
          npx commitlint --from "${{ github.event.pull_request.base.sha }}" --to "${{ github.event.pull_request.head.sha }}"

      - name: Run commitlint on pushed commits
        if: github.event_name == 'push'
        run: |
          npx commitlint --from "${{ github.event.before }}" --to "${{ github.sha }}"
